documents/
storage/
projects/
.viminfo
.git/
.lesshst
.cache 
.gitconfig 
.oh-my-zsh 
.ssh 
.viminfo 
.zcompdump* 
.zsh-syntax-highlight 
.zsh-update 
.zsh_history
.vim/
.vimrc
.gem/
.npm/
node_modules/
.v8*
.gnupg/
.local/
.marks/
.node*
.config/ranger/bookmarks
